

.form-wrapper{
    background: #02020275;
    margin: 1em 5;
    padding: 0;
    width:500px;
    height:500px;
    border-radius: 10px;

}
input[type=checkbox] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.kensakuform {
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
}
.namelavel {
    background-color: rgba(0,222,222,0.40);
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    font-size: 1rem;
    line-height: auto;
    /*border-radius: 10px;*/
}
    .back{
        position: relative;
        /*background-image: url("xampp/htdocs/cake3app/webroot/img/tophaikei.jpg");*/
        background-color: green;
        background-size:cover;
        padding: 200px 0;
        margin: 0;
    }

    .back2{
        background-color: white;
        padding: 20px 10px;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        font-size: 1rem;
        line-height: auto;
    }



    .jumbotronac{
        position: relative;
        background-image: url("../img/tophaikei.jpg");
        background-size: cover;
        padding: 200px 0;
    }

    .backac{
        background-color:  rgb(252, 250, 250);
        padding-top: 10px;
          margin: 0 auto;
          width: 100%;
          height: 300px;
          max-width: 500px;
          border-radius: 10px;
      }


      .jumbotronacc{
        position: relative;
        background-image: url("../img/tophaikei.jpg");
        background-size: cover;
        padding: 200px 0;
    }
       .backacc{
            background-color: white;
            padding: 50px 10px;
            margin: 0 auto;
            font-size: 1rem;
            line-height: 1.7;
            border-radius: 10px;
        }

        .jumbotronaccc{
            position: relative;
            background-image: url("../img/tophaikei.jpg");
            background-size: cover;
            padding: 200px 0;
        }

        .backaccc{
            background-color:  rgb(252, 250, 250);
            padding-top: 10px;
              margin: 0 auto;
              width: 100%;
              height: 300px;
              max-width: 500px;
              border-radius: 10px;
          }

          .jumbotronadc{
            position: relative;
            background-image: url("../img/tophaikei.jpg");
            background-size: cover;
            padding: 200px 0;
        }

        .backadc{
            background-color:  rgb(252, 250, 250);
            padding-top: 10px;
              margin: 0 auto;
              width: 100%;
              height: 300px;
              max-width: 500px;
              border-radius: 10px;
          }

          .jumbotronade{
            position: relative;
            background-image: url("../img/tophaikei.jpg");
            background-size: cover;
            padding: 200px 0;
        }

        .backade{
            background-color:  rgb(252, 250, 250);
            padding-top: 10px;
              margin: 0 auto;
              width: 100%;
              height: 300px;
              max-width: 500px;
              border-radius: 10px;
          }

          .back0apc {
            position: relative;
            background-image: url("../img/ハサミ.jpg");
            background-size: cover;
            padding: 200px 0;
            margin: 0;
        }

        .back1apc {

            background-color: white;
            padding: auto;
            margin: 0 auto;
            width: 100%;
            height: 500px;
            max-width: 1000px;
            font-size: 1rem;
            line-height: 1.7;
            border-radius: 10px;
            background-color: rgba(238, 238, 238, 0.7);
        }

        .back0apcc {
            position: relative;
            background-image: url("../img/ハサミ.jpg");
            background-size: cover;
            padding: 200px 0;
            margin: 0;
        }

        .back1apcc {

            background-color: white;
            padding: auto;
            margin: 0 auto;
            width: 100%;
            height: 500px;
            max-width: 1000px;
            font-size: 1rem;
            line-height: 1.7;
            border-radius: 10px;
            background-color: rgba(238, 238, 238, 0.7);
        }

        .jumbotroncr{
            position: relative;
            background-image: url("../img/tophaikei.jpg");
            background-size: cover;
            padding: 200px 0;
        }
        .backcr{
        background-color: rgba(255, 255, 255, 0.849);
        margin: 0 auto;
        width: 100%;
        height: 600px;
        max-width: 700px;
        border-radius: 10px;
        }

        .namelavelcr{
        background-color:rgba(0,222,222,0.40);
        margin:0 auto;
        width:100%;
        max-width:700px;
        font-size:1rem;
        line-height:auto;
        }

        .chatusercr{
        height:120px;
        border: solid thin #0f0f0f;
        }

        .chatuserimgcr{
        height:100px;
        }
        .waku3cr{
        height:100px;


        }
        .waku4cr{
        height:100px;


        }
        .imgcr {
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
        }

        .namelavelcrd {
            background-color: black;
            margin: auto;
            width: 100%;
            max-width: 600px;
            font-size: 1rem;

            line-height: auto;
            /*border-radius: 10px;*/
        }
            .back0crd{
                position: relative;
                background-image: url("../img/tophaikei.jpg");
                background-size:cover;
                padding: 200px 0;
                margin: 0;
            }

            .back3crd{
                background-color: #D8F3F0;
                padding: 20px 10px;
                margin: 0 auto;
                width: 100%;
                max-width: 600px;
                font-size: 1rem;
                line-height: auto;
            }

        #chat-frame {
          min-width: 320px;
          max-width: 800px;

          padding: 1em 2em;

        }
        .chat-talk {
          overflow: hidden;
          margin: 0 0 1em 0;
          padding: 0;
        }
        .chat-talk span {
          display: block;
          margin: 0;
          padding: 0;

        }
        .chat-talk .talk-icon {
          float: left;
          width: auto;
        }
        .chat-talk .talk-content {
          position: relative;
          box-sizing: border-box;
          width: auto;
          min-height: 50px;
          border-radius: 10px;
          background-color: #fff;
          margin: 0 auto 0 70px;
          padding: 1em;
        }
        .chat-talk .talk-icon img {
          max-width: 100%;
          height: auto;
          vertical-align: bottom;
          border: 2px solid #fff;
          border-radius: 50%;
        }
        .chat-talk .talk-content:before {
          position: absolute;
          top: 15px;
          left: -20px;
          display: block;
          width: 0;
          height: 0;
          content: '';
          border: 10px solid transparent;
          border-right-color: #FFFFFF;
        }
        .chat-talk.mytalk .talk-icon {
          float: right;
        }
        .chat-talk.mytalk .talk-content {
          margin: 0 70px 0 auto;
          color: #000;
          background: #78FF6C;
        }
        .chat-talk.mytalk .talk-content:before {
          right: -20px;
          left: auto;
          border-color: transparent;
          border-left-color: #78FF6C;
        }
            #ask{
              border:none;
              border-radius:30px;
              padding: 5px 10px;
            }

            .namelavelindex {
                background-color: rgba(0,222,222,0.40);
                margin: 0 auto;
                width: 100%;
                max-width: 900px;
                font-size: 1rem;
                line-height: auto;
                /*border-radius: 10px;*/
            }
                .back0index{
                    position: relative;
                    background-image: url("../img/tophaikei.jpg");
                    background-size:cover;
                    padding:     500px 0;
                    margin: 0;
                }
                .back1index{
                    background-color: white;
                    padding: 50px 10px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 900px;
                    font-size: 1rem;
                    line-height: 1.7;
                    border-radius: 10px;
                }
                .back2index{
                    background-color: white;
                    padding: 20px 10px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 900px;
                    font-size: 1rem;
                    line-height: auto;
                }
                .imgindex{
                    width:auto;
                    height:auto;
                    max-width:100px;
                    max-height:100px;
            }

            .jumbotronlogout{
                position: relative;
                background-image: url("../img/tophaikei.jpg");
                background-size: cover;
                padding: 200px 0;
            }

            .backlogout{
                background-color:  rgb(252, 250, 250);
                margin: 0 auto;
                width: 100%;
                height: 300px;
                max-width: 500px;
                border-radius: 10px;
                }

                .jumbotronmbd{
                    position: relative;
                    background-image: url("../img/tophaikei.jpg");
                    background-size: cover;
                    padding: 200px 0;
                }
                .adaptmbd {
                width:auto;
                height:auto;
                max-width:100%;
                max-height:100%;
            }

            .backmbd {
                background-color: rgba(255, 255, 255, 0.849);
                margin: 0 auto;
                width: 100%;
                height: 700px;
                max-width: 800px;
                border-radius: 10px;

            }

            .back2mbd {
                background-color: rgba(255, 255, 255, 0.849);
                padding: 5px;
                margin: auto;
                width: 100%;
                height: 400px;
                border-radius: 10px;

            }

            .imazinembd{
                width:auto;
                height:auto;
                max-width:100%;
                max-height:100%;

            }
            .wakumbd{
                background-color: rgba(110, 108, 108, 0.425);
                width:400px;
                height:600px;
                border-radius: 20px;
                border: solid thin #0f0f0f;
            }
            .namelavelmbd{
                background-color:rgba(0,222,222,0.40);
                margin:0 auto;
                width:100%;
                max-width:800px;
                font-size:1rem;
                line-height:auto;

            }

            .jumbotronmpd {
                position: relative;
                background-image: url("../img/tophaikei.jpg");
                background-size: cover;
                padding: 200px 0;
            }

            imgmpd {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }

            .menumpd {
                background-color: #c7c7c959;
                width: 100%;
                height: 50px;
            }

            .back0mpd {
                background-color: rgba(255, 253, 253, 0.932);
                margin: 0 auto;
                width: 100%;
                height: 700px;
                max-width: 800px;
                border-radius: 10px;
            }

            .back1mpd {
                background-color: rgba(255, 253, 253, 0.932);
                margin: 0 auto;
                width: 100%;
                height: 200px;
                max-width: 500px;
                border-radius: 10px;
            }

            .imazinempd {
                
                width: 100%;
                height: 250px;
                
                
            }

            .wakumpd {
                background-color: rgba(110, 108, 108, 0.425);
                width: 400px;
                height: 600px;
                border-radius: 20px;
                border: solid thin #0f0f0f;
            }
            .waku2mpd{
                background-color: rgb(252, 250, 250);
                width:450px;
                height:150px;
                border-radius: 20px;
                border: solid thin #0f0f0f;
                }

            .marumpd {
                border-radius: 20px;
            }

            #askmpd {
                border: none;
                border-radius: 30px;
                padding: 5px 10px;
            }

            .namelavelmpd {
                background-color: rgba(0, 222, 222, 0.40);
                margin: 0 auto;
                width: 100%;
                max-width: 800px;
                font-size: 1rem;
                line-height: auto;
            }

            .jumbotronmpe {
                position: relative;
                background-image: url("../img/tophaikei.jpg");
                background-size: cover;
                padding: 200px 0;

            }

            .menumpe {
                background-color: #c7c7c959;
                width: 100%;
                height: 50px;
            }

            .back10mpe {
                background-color: rgba(255, 253, 253, 0.932);
                margin: 0 auto;
                width: 100%;
                max-height: 1300px;
                max-width: 800px;
                border-radius: 10px;
            }

            .imazinempe{
                
                margin: 0 auto;
                width: 100%;
               
                max-width: 800px;
                border-radius: 10px;
            }

            .back1mpe {
                background-color: rgba(255, 253, 253, 0.932);
                margin: 0 auto;
                width: 100%;
                max-height: 700px;
                max-width: 500px;
                border-radius: 10px;
            }



            .waku4mpe {
                background-color: rgba(110, 108, 108, 0.425);
                width: 400px;
                max-height: 600px;
                border-radius: 20px;
                border: solid thin #0f0f0f;
            }

            .marumpe {
                border-radius: 20px;
            }

            #askmpe {
                border: none;
                border-radius: 30px;
                padding: 5px 10px;
            }

            .namelavelmpe {
                background-color: rgba(0, 222, 222, 0.40);
                margin: 0 auto;
                width: 100%;
                max-width: 800px;
                font-size: 1rem;
                line-height: auto;
            }

            .namelavel {
                background-color: rgba(0,222,222,0.40);
                margin: 0 auto;
                width: 100%;
                max-width: 900px;
                font-size: 1rem;
                line-height: auto;
                /*border-radius: 10px;*/
            }
                .back0smb{
                    position: relative;
                    background-image: url("../img/tophaikei.jpg");
                    background-size:cover;
                    padding: 500px 0;
                    margin: 0;
                }

                .namelavelsmb{
                    background-color:rgba(0,222,222,0.40);
                    margin:0 auto;
                    width:100%;
                    max-width:900px;
                    font-size:1rem;
                    line-height:auto;

                }

                .back1smb{
                    background-color: white;
                    padding: 20px 10px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 900px;
                    font-size: 1rem;
                    line-height: 1.7;
                    border-radius: 10px;
                }
                .back2smb{
                    background-color: white;
                    padding:10px;
                    margin: 0 auto;
                    width: 100%;
                    max-width: 900px;
                    font-size: 1rem;
                    line-height: auto;
                }
                .imgsmb{
                    width: auto;
                    height: auto;
                    max-width: 150px;
                    max-height: 150px;
                }

                .jumbotronsmbd{
                    position: relative;
                    background-image: url("../img/tophaikei.jpg");
                    background-size: cover;
                    padding: 200px 0;
                }
                .adaptsmbd {
                width:auto;
                height:auto;
                max-width:100%;
                max-height:100%;
            }

            .backsmbd {
                background-color: rgba(255, 255, 255, 0.849);
                margin: 0 auto;
                width: 100%;
                height: 700px;
                max-width: 800px;
                border-radius: 10px;

            }
            .imazinesmbd{
              

            }
            .wakusmbd{
                background-color: rgba(110, 108, 108, 0.425);
                width:400px;
                height:600px;
                border-radius: 20px;
                border: solid thin #0f0f0f;
            }
            .namelavelsmbd{
                background-color:rgba(0,222,222,0.40);
                margin:0 auto;
                width:100%;
                max-width:800px;
                font-size:1rem;
                line-height:auto;

            }



            .backsignupm {
                position: relative;
                background-image: url("../img/ハサミ.jpg");
                background-size: cover;
                padding: 200px 0;
                margin: 0;
            }

            .back1signupm {

                background-color: white;
                padding: auto;
                margin: 0 auto;
                width: 100%;
                height: 1300px;
                max-width: 1000px;
                font-size: 1rem;
                line-height: 1.7;
                border-radius: 10px;
                background-color: rgba(238, 238, 238, 0.7);
            }

            h2signupm {
                text-align: center;
            }
.waku5{
     background-color: rgba(110, 108, 108, 0.425);
                width:400px;
                height:200px;
                border-radius: 20px;
                border: solid thin #0f0f0f;
}
